<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy YelpCamp 2024</span>
    <span class="text-muted ml-3">By K.Chanatipz</span>
  </div>
</footer>
