<% layout('layout/template') %>
<h2>YelpCamp Home page</h2>
<p>A project from Udemy Web Developer Bootcamp 2024</p>
<a
  href="/campgrounds"
  class="btn btn-primary"
  tabindex="-1"
  role="button"
  aria-disabled="true"
  >See all campgrounds</a
>
<br />
<a
  href="https://github.com/Kchanatipz/YelpCamp"
  class="btn btn-warning mt-3"
  role="button"
  aria-disabled="true"
  >View source code</a
>
