<% layout('layout/template') %>
<h2>All campgrounds</h2>
<div>
  <a
    href="/campgrounds/new"
    class="btn btn-outline-warning my-3"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >Add campground</a
  >
</div>
<div class="mb-5">
  <% for (let camp of campgrounds){%> <%-
  include('../components/campgrounds/largeCard', {camp}) %> <% }%>
</div>
