<% layout('layout/template') %>
<link rel="stylesheet" href="/style/stars.css" />
<div class="row mb-3">
  <div class="col-6"><%- include('../components/campgrounds/miniCard') %></div>
  <div class="col-6"><%- include('../reviews/index') %></div>
</div>
